@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,500&display=swap');

:root {
    --color-light-50: #f8fafc;

    --color-dark-50: #797984;
    --color-dark-100: #312d37;
    --color-dark-900: #000;

    --color-purple-50: #7c3aed;
    --color-purple-100: #a855f7;
    --color-purple-200: #bf46ef;

    --color-gradient: linear-gradient(150deg, var(--color-purple-50), var(--color-purple-100), var(--color-purple-200)); 
}

* {
margin: 0;
padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background: var(--color-gradient);
    color: #F0E0FE;  
}

.destaquecinza {
    color: #312d37;
}

.all {
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.all__conteudo {
    width: 550px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titulo {
    font-size: 36px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.texto {
    font-size: 23.5 px;
    font-family: "Montserrat", sans-serif;
}

.links {
    display: flex;
    justify-content: space-between;
}

.links__link {
    background-color: #F5EAFE;
    width: 240px;
    text-align: center;
    border-radius: 14px;
    font-size: 24px;
    padding: 20.5px 0px;
    color: var(--color-purple-100);
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

.img {
    display: flex;
    border-radius: 13%;
    width: 270px;
}

.links__link:hover {
    transform: scale(1.11);
}
